.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #f4f8ff;
  background-image: url('https://gtcg-1251505225.cos.ap-shanghai.myqcloud.com/login_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.content {
  flex: 1;
  padding: 32px 0;
}

@media screen and  (min-width: 768px) {
  .content {
    display: flex;
    justify-content: center;
    padding: 32px 0 24px;
  }
}

.main {
  display: flex;
  width: 100%;
  /* margin: 100px auto;*/
  padding-bottom: 5%
}

@media screen and (max-width: 768px) {
  .main {
    width: 95%;
    max-width: 328px;
  }
}

.main .ant-tabs-content {
  padding-top: 40px;
}

.main .ant-tabs-tab {
  padding: 12px 20px;
}

.main .ant-form-item {
  padding-bottom: 30px;
}

.main .ant-tabs-nav-list {
  margin: auto;
  font-size: 16px;
}

.main .icon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}

.main .icon:hover {
  color: #1890ff;
}

.main .login_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: '微软雅黑', serif;
}

.main .remember-pwd {
  margin-top: 20px;
}

.main .left-main {
  flex: 60%
}

.left-main .left-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 30%;
}

.left-main .left-box .left-box-title {
  height: 480px;
  color: #387ff6;
  font-weight: bold;
  font-size: 32px;
  font-family: Source Han Sans CN-Bold, Source Han Sans CN;
  line-height: 0;
  text-align: left;
}

.left-box .left-box-title .title-body {
  margin-top: 50px;
  color: #838fa0;
  font-weight: 500;
  font-size: 18px;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
}

.left-box .left-box-image {
  width: 612px;
  height: 153px;
  margin-bottom: 150px;
}

.left-box .left-box-image img {
  width: 612px;
  height: 153px
}

@media screen  and (max-width: 768px) {
  .left-box {
    display: none;
  }

  .left-main {
    flex: 0
  }
}

.main .right-main {
  display: flex;
  flex: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.right-main .form-box {
  width: 480px;
  height: 480px;
  margin-left: -100px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px 1px rgba(0, 49, 92, 0.1);
  opacity: 1;
}


.form-box .ant-tabs-tab {
  color: #333333;
  font-weight: 500;
  font-size: 22px;
  font-family: Source Han Sans CN-Medium, Source Han Sans CN;
  line-height: 36px;
}

.form-box .ant-tabs-ink-bar {
  width: 50px !important;
  margin-left: 40px !important;
}

.form-box .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #333;
}

.form-box > form {
  margin: 0 40px;
  padding: 30px;
}

.my_row::after {
  position: absolute;
}
