
.card-box {
  gap: 20px;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
}
.grid-box{
  gap: 26px;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding-top: 10px;
  margin-top: -10px;
}

.create-card-style {
  width: 297px;
  text-align: center;
  height: 186px;
  padding-top: 40px;
}

.card-info-style {
  /* 原图尺寸为376X236  */
  width: 297px;
  height: 186px;
  border: none;
}
.icon-style {
  font-size: 22px;
  color: #828181
}


.my-divider-style {
  border: rgba(229, 224, 224, 0.25) 1px solid;
  margin: 0 0 14px 0;
}

.pagination {
  margin-top: 30px;
}

.card-info-title {
  /*margin-top: 10px;*/
  font-size: 18px;
  font-weight: bold;
}

.card-info-subtitle {
  margin: 30px 0 20px 0;
  font-size: 16px;
}

.card-info-content {
  display: flex;
  gap: 10px;
}

.card-info-content-item {
  border-radius: 6px;
  width: 80px;
  text-align: center;
}

.my-tabs .ant-tabs-nav::before {
  border-bottom: none;
}







