.user-page-header {
    padding-inline: 0;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box .app-info {

}

.app-info .app-info-box{
    display: flex;
}

.app-info-box .info-box-left{
    margin-right: 24px;
}

.app-info-box .info-box-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.styles_titleText{
    font-weight: 700;
    font-size: 24px;
    color: #1d2129;
    padding-bottom: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styles_bottomText{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 400;
    color: #86909c;
}

.app-tabs{

}

.app-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list{
    padding-inline-start: inherit;
}
