.setting-card{
    margin-top: 24px;
    box-sizing: border-box;
}

.setting-card.no-padding{
    margin-top: initial;
}



.setting-card-header{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #1d2129;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.setting-card-body{
    margin-top: 24px;
}

.setting-card-body.no-padding{
    margin-top: initial;
}
